<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>275753076919-lid55nelj3eqje3evgmp8pmga68uovvl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.275753076919-lid55nelj3eqje3evgmp8pmga68uovvl</string>
	<key>API_KEY</key>
	<string>AIzaSyAibXFNXFpWKa2RWTprAa1YCpekS0Wr9aI</string>
	<key>GCM_SENDER_ID</key>
	<string>275753076919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SamSung.KakaoMap-Clone</string>
	<key>PROJECT_ID</key>
	<string>kakaomap-clone</string>
	<key>STORAGE_BUCKET</key>
	<string>kakaomap-clone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275753076919:ios:071e79a81eebaa8485a532</string>
</dict>
</plist>